<p>Welcome <%= current_user.email %></p>
<h1>Inventory</h1>

<ul>
  <% @inventorys.each do |inventory| %>
    <li>
      <a href="/inventorys/<%= inventory.id %>">
        <%= inventory.item_name %>
      </a>
    </li>
  <% end %>
</ul>



